@include aoa-bg-series($bg__classes,$bg__aoa);

*{
    font-family: $font-main__family;
}

%bg-blend{
    @include background-blend($bg__blend--type, $color__bg-1);
}
%bg-blend-multiply{
    @include background-blend($bg__blend--multiply, inherit);
}
%bg-blend-overlay{
    @include background-blend($bg__blend--overlay, inherit);    
}
%bg-scroll{
    background-attachment: scroll;
    background-position: center;
}
.bg{
    &-dark{
        background-color: $color__dark !important;
    }
    &-gray{
        background-color: $color__gray !important;
    }
    &-light-gray{
        background-color: $color__light-gray !important;
    }
    &-red{
        background-color: $color__red !important;
    }
    &-transparent{
        background-color: transparent !important;
    }
    &-white{
        background-color: $color__white !important;
    }
}
.border{
    &-b{
        border-bottom: $border-param;
    }
    &-dark{
        border-color: $color__dark !important;
    }
    &-gray{
        border-color: $color__gray !important;
    }
    &-l{
        border-left: $border-param;
    }
    &-r{
        border-right: $border-param;
    }
    &-t{
        border-top: $border-param;
    }
    &-white{
        border-color: $color__white !important;
    }
}
.category{
    &-s1{
        @extend %bg-scroll;
    }
    &-s2{
        @extend %bg-scroll;
    }
    &-s3{
        @extend %bg-scroll;
    }
    &-s4{
        @extend %bg-scroll;
    }
    &-s5{
        @extend %bg-scroll;
    }
    &-s6{
        @extend %bg-scroll;
    }
}
.comingsoon{
    &-s1{
        @extend %bg-blend;
    }
}
.error{
    &-s1{
        @extend %bg-blend;
    }
}
.filter{
    &-grayscale{
        filter: grayscale(1);
    }
}
.flex{
    display:flex;
}
.font{
    &-bold{
        font-weight: 700;
    }
    &-logo{
        @include set-font-params($font-logo__family,$font-logo__size);
        display: inline-block;
        font-variant: small-caps;
        font-weight: 900;
    }
    &-menu{
        @include set-font-params($font-main__family,$font-main__size);
    }
    &-thin{
        font-weight: $font-thin__weight;
    }
}
.header{
    position: absolute;
    width: 100%;
}
.hover{
    &-grayscale{
        &:hover{
            filter: grayscale(1);
        }
    }
    &-darken{
        &:hover{
            filter: brightness(0.7);
        }
    }
    &-red{
        &:hover{
            color: $color__red !important;
        }
    }
}
.index{
    &-s1{
        @extend %bg-blend-multiply;
    }
    &-s2{
        @extend %bg-blend-multiply;
    }
    &-s3{
        @extend %bg-blend-overlay;
    }
    &-s5{
        @extend %bg-blend-multiply;
        background-attachment: scroll;
    }
}
.minh{
    &-20vh{
        min-height: 20vh;
    }
    &-25vh{
        min-height: 25vh;
    }
    &-50vh{
        min-height: 50vh;
    }
    &-55vh{
        min-height: 55vh;
    }
    &-75vh{
        min-height: 75vh;
    }
    &-100vh{
        min-height: 100vh;
    }
}
.nav{
    &-item{
        &>a{
            padding: $nav-item__padding-y $nav-item__padding-x !important;
        } 
    }
}
.navbar{
    &-toggler{
        &-icon{
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgb(255 86 92)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
        }
    }
}

.privacy{
    &-container{
        background-color: $color__transparent !important;
        backdrop-filter: $backdrop__filter--privacy;
        border: $privacy-container__border;
        border-radius: $privacy-container__radius;
        margin-top: $privacy-container__margin;
        margin-bottom: $privacy-container__margin;
    }
    &-s1{
        @extend %bg-blend;
    }
}
.rent{
    &-s1{
        @extend %bg-scroll;
        @extend %bg-blend-multiply;
    }
}
.services{
    &-s1{
        @extend %bg-scroll;
        @extend %bg-blend-multiply;
    }
}
.text{
    &-dark{
        color: $color__dark !important;
    }
    &-gray{
        color: $color__gray !important;
    }
    &-red{
        color: $color__red !important;
    }
    &-shadow{
        text-shadow: $text__shadow;
    }
    &-white{
        color: $color__white !important;
    }
}
.user{
    &-s1{
        @extend %bg-scroll;
        @extend %bg-blend-multiply;
    }
}
.w{
    &-full{
        width: 100%;
    }
}

@media all and (max-width: 639px){
    .small{
        &-border-none{
            border:none;
        }
        &-minh{
            &-25vh{
                min-height: 25vh;
            }
            &-50vh{
                min-height: 50vh;
            }
            &-750vh{
                min-height: 75vh;
            }
            &-100vh{
                min-height: 100vh;
            }
        }
    }
    .nav{
        &-item{
            width:100%;
        }
        &-menu{
            background-color: $color__dark !important;
            border: $nav-menu__border;
            opacity: 0.8;
        }
    }
}

@media all and (min-width:640px){
    .medium{
        &-align{
            &-right{    
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
        }
        &-margin{
            &-left{
                &-2{
                    margin-left: 2rem!important;
                }
            }
        }
    }
}